In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
from bpideep.getdata import getfulldata
import pandas as pd

In [13]:
data = pd.read_csv('../bpideep/deeptech_df.csv')
data.head()

,Unnamed: 0,about,achievements,alexa_rank_chart,angellist_url,app_12_months_growth_percentile,app_12_months_growth_relative,app_12_months_growth_unique,app_3_months_growth_percentile,app_3_months_growth_relative,...,total_funding,total_funding_source,traffic,traffic_summary,twitter_favorites_chart,twitter_followers_chart,twitter_tweets_chart,twitter_url,url,website_url
0,0,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0,"{'visitors': '659', 'annual_growth': None, 'so...",0.7K,[],[],[],https://twitter.com/4p_pharma,https://app.dealroom.co/companies/4p_pharma,http://4p-pharma.com
1,1,NaN,[],[],NaN,NaN,NaN,NaN,NaN,NaN,...,21.00,21000000,"{'visitors': '359', 'annual_growth': None, 'so...",0.4K,[],[],[],https://twitter.com/afyrenbiotech,https://app.dealroom.co/companies/afyren,http://afyren.com/
2,2,NaN,[],"[{'date': '2017-02-08', 'value': 25266187}, {'...",NaN,NaN,NaN,NaN,NaN,NaN,...,3.30,3300000,"{'visitors': '1668', 'annual_growth': None, 's...",2K,[],[],[],https://twitter.com/abbelight,https://app.dealroom.co/companies/abbelight,http://www.abbelight.com
3,3,NaN,[],"[{'date': '2017-02-08', 'value': 12777606}, {'...",NaN,NaN,NaN,NaN,NaN,NaN,...,29.10,29100000,"{'visitors': '283', 'annual_growth': -62.36702...",0.3K,"[{'date': '2017-02-08', 'value': 40}, {'date':...","[{'date': '2017-02-08', 'value': 190}, {'date'...","[{'date': '2017-02-08', 'value': 152}, {'date'...",https://twitter.com/acticorbiotech,https://app.dealroom.co/companies/acticor_biotech,http://www.acticor-biotech.com
4,4,Actronika Skip to content twitter linkedin you...,[],"[{'date': '2016-12-02', 'value': 10936650}, {'...",NaN,NaN,NaN,NaN,NaN,NaN,...,2.52,2522675,"{'visitors': '1079', 'annual_growth': None, 's...",1K,"[{'date': '2017-09-11', 'value': 65}, {'date':...","[{'date': '2017-09-11', 'value': 88}, {'date':...","[{'date': '2017-09-11', 'value': 56}, {'date':...",https://twitter.com/actronika,https://app.dealroom.co/companies/actronika,http://www.actronika.com

In [90]:
data.shape

(455, 93)

In [50]:
import ast
team = ast.literal_eval(data['team'][1])['items']

In [110]:
team = ast.literal_eval(data['team'][1])['items']
universities = team[0]['universities']['items']
#universities[0]['degree']['name']
universities

[{'id': 13565,
  'degree': {'id': 7, 'name': 'Doctor', 'years': 9},
  'majors': [{'id': 556, 'name': 'Microbiology'},
   {'id': 179, 'name': 'Biological'}],
  'year_start': 1980,
  'year_end': 2014,
  'university': {'id': 1598842,
   'name': 'UniversitÃ© Blaise Pascal (Clermont-II) - Clermont-Ferrand',
   'path': 'universit_blaise_pascal_clermont_ii_clermont_ferrand',
   'type': 'university',
   'url': 'https://app.dealroom.co/universities/universit_blaise_pascal_clermont_ii_clermont_ferrand',
   'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png',
    '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png',
    '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}},
 {'id': 13566,
  'degree': {'id': 2, 'name': 'Masters', 'years': 5},
  'majors': [{'id': 556, 'name': 'Microbiology'}],
  'year_start': 1980,
  'year_end': 2011,
  'university': {'id': 1598842,
   'name': 'UniversitÃ© Blaise Pascal (Clermont-II) - Clermont-Ferrand',
   'path': 'universit_blaise_pascal_clermont_ii_clermont_ferrand',
   'type': 'university',
   'url': 'https://app.dealroom.co/universities/universit_blaise_pascal_clermont_ii_clermont_ferrand',
   'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png',
    '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png',
    '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}},
 {'id': 13567,
  'degree': None,
  'majors': [{'id': 2444, 'name': 'Earth Science'}],
  'year_start': 1980,
  'year_end': 2006,
  'university': {'id': 1598844,
   'name': 'LycÃ©e Alain Colas',
   'path': 'lyc_e_alain_colas',
   'type': 'university',
   'url': 'https://app.dealroom.co/universities/lyc_e_alain_colas',
   'images': {'32x32': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-32.png',
    '74x74': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-74.png',
    '100x100': 'https://s3.eu-west-2.amazonaws.com/dealroom-static/null/university-100.png'}}}]

In [87]:
def background(data) :
    team_backgrounds = {}
    for x in range(455):
        backgrounds_list = []
        team = ast.literal_eval(data['team'][x])
        for y in range(len(team['items'])):
                backgrounds= team['items'][y]['backgrounds']
                for u in range(len(backgrounds)):
                    backgrounds_list.append(backgrounds[u]['name'])                                
        team_backgrounds[x] = backgrounds_list
    return team_backgrounds
data['background'] = background(data)

In [238]:
def degree(data) :
    team_degree = {}
    for x in range(455):
        degree_list = []
        team = ast.literal_eval(data['team'][x])
        for y in range(len(team['items'])):
                universities= team['items'][y]['universities']['items']
                if universities and universities[0]['degree'] is not None :
                    degree = universities[0]['degree']['name']
                    degree_list.append(degree)
        team_degree[x] = degree_list
    return team_degree
data['degree'] = degree(data)

In [ ]:
def funding_amounts_employees(data): 
    funding = data['total_funding_source']
    employees = data['employees_latest']
    return funding/employees
df['funding_employees_ratio'] = funding_amounts_amployees(df)

In [ ]:
df['has_strong_founder'] = df['has_strong_founder'].apply({True : 1, 
                                                          False : 0})
df['has_super_founder'] = df['has_strong_founder'].apply({True : 1, 
                                                          False : 0})

In [ ]:
def company_status_num(data):
    num_status = data['company_status'].apply({'operationnal' : 5, 
                                              'fezfzefezfze' : 4})
    return num_status
df['company_status_num'] = company_status_num(df)

In [ ]:
def facebook_like_company_status(data):
    likes_chart = data['facebook_likes_chart']
    last_likes = likes_chart[-1]['value']
    num_status = df['company_status_num']
    return last_likes/num_status
df['facebook_like_company_status_ratio'] = facebook_like_company_status(df)

In [ ]:
def twitter_followers_company_status(data):
    followers_chart = data['twitter_followers_chart']
    last_followers = followers_chart[-1]['value']
    num_status = df['company_status_num']
    return last_followers/num_status
df['twitter_followers_company_status_ratio'] = twitter_followers_company_status(df)

In [ ]:
def alexa_rank_company_status(data):
    alexa_chart = data['alexa_rank_chart']
    last_rank = alexa_chart[-1]['value']
    num_status = data['company_status'].apply({'operationnal' : 5, 
                                              'fezfzefezfze' : 4})
    return last_rank/num_status
df['alexa_rank_company_status_ratio'] = alexa_rank_company_status(df)

In [ ]:
def traffic(data):
    visitor = data['traffic']['visitor']
    return visitor
df['visitor'] = traffic(df)