In [8]:
import pandas as pd

from bpideep.GetCleanData import get_clean_data
from bpideep.New_Trainer import NewTrainer

In [4]:
df = get_clean_data()

/Users/admin/.pyenv/versions/data/envs/NLP/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/Users/admin/code/ClemenceK/bpifrance_deeptech_analysis/bpideep/GetCleanData.py:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[row,"investors_type"] = 0
/Users/admin/code/ClemenceK/bpifrance_deeptech_analysis/bpideep/GetCleanData.py:182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[row,"investors_type"] = 1

In [6]:
X = df.drop(columns = ["target", "deep_or_not"])
y = df["target"]

In [94]:
X.columns

Index(['id', 'name', 'total_funding_source', 'employees', 'employees_latest',
       'launch_year', 'growth_stage', 'linkedin_url', 'industries',
       'investors', 'launch_year_clean', 'growth_stage_imputed',
       'employees_clean', 'age', 'nb_patents', 'investors_type',
       'health_industry', 'company_has_phd', 'proportion_technical',
       'founder_from_institute', 'founder_has_phd', 'No_people_input'],
      dtype='object')

In [9]:
t = NewTrainer(X, y)

In [10]:
t.train()

(1332, 5)

In [11]:
t.pipeline

Pipeline(steps=[('features',
                 ColumnTransformer(transformers=[('growth_transformer',
                                                  Pipeline(steps=[['growth_stage_age_preparator',
                                                                   ColumnTransformer(transformers=[['age_imputer',
                                                                                                    Pipeline(steps=[('simpleimputer',
                                                                                                                     SimpleImputer())]),
                                                                                                    ['age']],
                                                                                                   ['growth_stage_transformer',
                                                                                                    FunctionTransformer(func=<function set_pipeline.<locals>.<lambda> at 0x11830b940>),
                                                                                                    ['gro...
                                                                                   ['No_people_input']],
                                                                                  ['founder_from_institute_notransformer',
                                                                                   NoTransformer(),
                                                                                   ['founder_from_institute']],
                                                                                  ['founder_has_phd_notransformer',
                                                                                   NoTransformer(),
                                                                                   ['founder_has_phd']]]),
                                                  ['health_industry',
                                                   'investors_type',
                                                   'company_has_phd',
                                                   'proportion_technical',
                                                   'No_people_input',
                                                   'founder_from_institute',
                                                   'founder_has_phd'])])),
                ('model', RandomForestClassifier(n_jobs=-1))])

In [47]:
final = pd.read_csv("final.csv")

In [55]:
tmp1 = pd.DataFrame()
tmp1['X_cols'] = X.columns
tmp1.sort_values(by='X_cols', inplace=True)
tmp1.reset_index(inplace=True, drop=True)

In [56]:
tmp2 = pd.DataFrame()
tmp2['final_columns'] = final.columns

tmp2.sort_values(by='final_columns', inplace= True)
tmp2.reset_index(inplace=True, drop=True)
tmp2

               final_columns
0                        age
1              deal_room_phd
2   employee__linkedin_count
3                  employees
4            employees_clean
5           employees_latest
6     founder_from_institute
7            founder_has_phd
8            founder_pat_pub
9       growth_stage_imputed
10           health_industry
11                        id
12                industries
13                 investors
14            investors_type
15         launch_year_clean
16              linkedin_url
17                      name
18                nb_patents
19          no_linkedin_data
20              phd_linkedin
21                 phd_total
22                 technical
23         technical_founder
24      total_funding_source

In [92]:
tmp = tmp2.copy()
tmp['X_cols'] = tmp1['X_cols']

In [93]:
tmp.rename(columns={"launch_year": "launch_year_clean", 
                         "growth_stage": "growth_stage_imputed",
                         "no_linkedin_data" : "No_people_input",
                         "phd_total" : "company_has_phd",
                        "technical" : "proportion_technical"
                        }, inplace=True)

#company_has_phd: mettre des 1 si >=1
#clarifier "proportion_technical	replaced by technical" avec Florent
tmp.drop(columns=['deal_room_phd', 'employee__linkedin_count', 'founder_pat_pub'], inplace=True)#, 'phd_linkedin', 'technical_founder'], inplace=True)    
#tmp_new =pd.DataFrame(tmp, columns=X.columns)

KeyError: "['deal_room_phd' 'employee__linkedin_count' 'founder_pat_pub'] not found in axis"

In [82]:
tmp.to_csv("tmp.csv", index=False)

               final_columns                  X_cols
0                        age         No_people_input
1              deal_room_phd                     age
2   employee__linkedin_count         company_has_phd
3                  employees               employees
4            employees_clean         employees_clean
5           employees_latest        employees_latest
6     founder_from_institute  founder_from_institute
7            founder_has_phd         founder_has_phd
8            founder_pat_pub            growth_stage
9       growth_stage_imputed    growth_stage_imputed
10           health_industry         health_industry
11                        id                      id
12                industries              industries
13                 investors               investors
14            investors_type          investors_type
15         launch_year_clean             launch_year
16              linkedin_url       launch_year_clean
17                      name            linkedin_url
18                nb_patents                    name
19          no_linkedin_data              nb_patents
20              phd_linkedin    proportion_technical
21                 phd_total    total_funding_source
22                 technical                     NaN
23         technical_founder                     NaN
24      total_funding_source                     NaN

In [85]:
X.proportion_technical.unique(), final.technical.unique(), final.technical_founder.unique()

(array([0.        , 0.7       , 0.3       , 0.76470588, 0.5       ,
        0.42105263, 0.75      , 0.66666667, 0.57142857, 0.27272727,
        0.33333333, 0.21428571, 0.85714286, 0.83333333, 0.38461538,
        0.60576923, 0.36363636, 0.26760563, 0.16666667, 0.45      ,
        0.6875    , 0.30769231, 0.13333333, 0.52380952, 0.30555556,
        0.2       , 1.        , 0.8       , 0.25925926, 0.47058824,
        0.25      , 0.37931034, 0.42857143, 0.42307692, 0.45454545,
        0.1       , 0.32142857, 0.53333333, 0.72727273, 0.22222222,
        0.15789474, 0.375     , 0.54545455, 0.28571429, 0.6       ,
        0.30434783, 0.13461538, 0.27777778, 0.125     , 0.39130435,
        0.4375    , 0.41666667, 0.3030303 , 0.625     , 0.46835443,
        0.5625    , 0.41176471, 0.53125   , 0.34375   , 0.26315789,
        0.51351351, 0.1875    , 0.4       , 0.55555556, 0.47619048,
        0.47826087, 0.65714286, 0.35714286, 0.52631579, 0.16049383,
        0.40909091, 0.15384615, 0.69230769, 0.29090909, 0.72413793,
        0.24      , 0.71428571, 0.62162162, 0.64285714, 0.26666667,
        0.9047619 , 0.61111111, 0.44444444, 0.52173913, 0.21052632,
        0.61016949, 0.52941176, 0.52083333, 0.57575758, 0.81818182,
        0.34      , 0.32727273, 0.18518519, 0.46428571, 0.4527027 ,
        0.31506849, 0.31764706, 0.77777778, 0.48387097, 0.19047619,
        0.29411765, 0.7826087 , 0.36      , 0.32835821, 0.78571429,
        0.14285714, 0.35      , 0.47368421, 0.26086957, 0.40740741,
        0.39795918, 0.15      , 0.07563025, 0.4609375 , 0.22988506,
        0.53846154, 0.28125   , 0.60465116, 0.23809524, 0.43396226,
        0.34883721, 0.35294118, 0.17647059, 0.20930233, 0.55      ,
        0.54166667, 0.43037975, 0.67741935, 0.52      , 0.73684211,
        0.63636364, 0.47457627, 0.05882353, 0.58333333, 0.48275862,
        0.46666667, 0.18181818, 0.04347826, 0.88888889, 0.28037383,
        0.11904762, 0.275     , 0.46268657, 0.61290323, 0.37681159,
        0.32608696, 0.44680851, 0.56140351, 0.875     , 0.46      ,
        0.29347826, 0.08695652, 0.68421053, 0.22857143, 0.57407407,
        0.14814815, 0.46153846, 0.08333333, 0.51724138, 0.38655462,
        0.39285714, 0.4137931 , 0.64705882, 0.55769231, 0.30666667,
        0.78947368, 0.31578947, 0.61538462, 0.73333333, 0.56      ,
        0.58823529, 0.3902439 , 0.11764706, 0.60377358, 0.56493506,
        0.57627119, 0.28      , 0.05263158, 0.11111111, 0.40625   ,
        0.11363636, 0.09090909, 0.04761905, 0.02380952, 0.02941176,
        0.22727273, 0.0625    , 0.05      , 0.14864865, 0.23611111,
        0.14705882, 0.008     , 0.13513514, 0.025     , 0.06      ,
        0.21126761, 0.07291667, 0.07017544, 0.34782609, 0.05714286,
        0.46808511, 0.08510638, 0.03571429, 0.23255814, 0.07843137,
        0.1496063 , 0.19230769, 0.06666667, 0.08108108, 0.65517241,
        0.46875   , 0.07692308, 0.19672131, 0.09433962, 0.02531646,
        0.23863636, 0.28787879, 0.06896552, 0.14942529, 0.09756098,
        0.02      , 0.04285714, 0.05555556, 0.03333333, 0.04      ,
        0.03389831, 0.03448276, 0.12903226, 0.06818182, 0.05063291,
        0.07575758, 0.3255814 , 0.16129032, 0.03846154, 0.046875  ,
        0.11320755, 0.3125    , 0.04444444, 0.38888889, 0.23076923,
        0.27631579, 0.19565217, 0.44186047, 0.3559322 , 0.03738318,
        0.10309278, 0.13559322, 0.29850746, 0.13793103, 0.05128205,
        0.38709677, 0.06976744, 0.09375   , 0.02325581, 0.65      ,
        0.19444444, 0.23529412, 0.33870968, 0.1322314 , 0.36464088,
        0.2962963 , 0.37037037, 0.32352941, 0.225     , 0.17391304,
        0.60869565, 0.07407407, 0.28169014, 0.06741573, 0.2826087 ,
        0.09677419]),
 array([       nan, 0.31578947, 0.18390805, 0.5       , 0.52631579,
        0.25      , 0.30769231, 0.14285714]),
 array([nan,  1.,  0.,  2.]))

        id          name  ...  no_linkedin_data phd_total
0  1985985        Verkor  ...                 1       0.0
1  1841152        Angell  ...                 1       0.0
2   924274       Carbios  ...                 0       1.0
3  2434315    Mastergrid  ...                 0       0.0
4  1685632        Pasqal  ...                 0       4.0
5  1769618       Gourmey  ...                 0       5.0
6  1757959  Epigene Labs  ...                 0       1.0
7  1814695    SpaceSense  ...                 0       1.0
8  1570787        Kraaft  ...                 0       0.0

[9 rows x 25 columns]